.cell {
  box-sizing: border-box;
  height: 44px;
  line-height: 44px;
  display: flex;
  position: relative;
  padding-left: 40px;
  padding-right: 20px;
  @include bottomline();
  .cell-bd {
    flex: 1;
    font-size: 14px;
    color: #333;
  }
}

.cell-access {
  .cell-ft {
    position: relative;
    padding-right: 20px;
    @include arrow-right(8px);
  }
}
