.header-wrapper {
  display: flex;
  background: -webkit-gradient(linear, left bottom, right bottom, from(#fdb34b), to(#fd9520));
  .header-back {
    width: 40px;
    position: relative;
    background: #fdb34b;
    @include arrow-left(10px, #fff);
  }
  .header-nav {
    flex: 1;
    display: flex;
    .nav-item {
      flex: 1;
      text-align: center;
      span {
        position: relative;
        display: inline-block;
        line-height: 40px;
        height: 40px;
        box-sizing: border-box;
        padding: 0 10px;
      }
    }
    .cur {
      color: red;
      span {
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 2px;
          background: #e93b3d;
        }
      }
    }
  }
  .header-info {
    flex: 1;
    text-align: center;
    color: #fff;
    height: 40px;
    line-height: 40px;
  }
}
