.header-wrapper {
  display: flex;
  background: #fff;
  position: relative;
  @include bottomline();
  .header-back {
    width: 40px;
    position: relative;
    @include arrow-left(10px, #333);
  }
  .header-nav {
    flex: 1;
    display: flex;
    .nav-item {
      flex: 1;
      text-align: center;
      span {
        position: relative;
        display: inline-block;
        line-height: 40px;
        height: 40px;
        box-sizing: border-box;
        padding: 0 10px;
      }
    }
    .cur {
      color: $pricecolor;
      span {
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 2px;
          background: $pricecolor;
        }
      }
    }
  }
  .header-info {
    flex: 1;
    text-align: center;
    color: $maincolor;
    height: 40px;
    line-height: 40px;
    margin-left: -40px;
  }
}
