.header-wrapper {
  display: flex;
  background: -webkit-gradient(linear, left bottom, right bottom, from(#fdb34b), to(#fd9520));
  .header-back {
    width: 40px;
    position: relative;
    background: #fdb34b;
    @include arrow-left(10px, #fff);
  }
  .header-nav {
    flex: 1;
    display: flex;
    .nav-item {
      flex: 1;
      text-align: center;
      padding: 0 5px;
      span {
        display: block;
        line-height: 40px;
        height: 40px;
        box-sizing: border-box;
      }
    }
    .cur {
      color: red;
      span {
        border-bottom: 1px solid red;
      }
    }
  }
  .header-info {
    flex: 1;
    text-align: center;
    color: #fff;
  }
}
