.select-addr {
  padding: 12px 10px 16px 58px;
  position: relative;
  background: #fff url('../assets/addr-bg.png') no-repeat;
  background-size: 100% 4px;
  background-position: left bottom;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    width: .2rem;
    height: .3rem;
    transform: translateY(-50%);
    background: url('../assets/cart/pos.png') no-repeat;
    background-size: 100%;
  }
  ul {
    position: relative;
    padding-right: 30px;
    min-height: 60px;
    @include arrow-right();
    li {
      word-wrap: break-word;
      word-break: break-all;
      font-size: 14px;
      color: $subcolor;
      overflow: hidden;
      .mobile {
        float: right;
      }
    }
  }
}
