.btn {
  display: block;
  font-size: .3rem;
  color: #fff;
  text-align: center;
  height: .88rem;
  line-height: .88rem;
  margin-bottom: .3rem;
}

.btn-primary {
  background-color: #bf3737;
}

.btn-default {
  background-color: #928f9c;
}
