.search-header-wrapper {
  .header-back {
    background-color: #fdb34b;
    &:before {
      border-color: #fff;
    }
  }
  .search-bar {
    flex: 1;
    background: -webkit-gradient(linear, left bottom, right bottom, from(#fdb34b), to(#fd9520));
    .search-bar-form {
      background: -webkit-gradient(linear, left bottom, right bottom, from(#fec46f), to(#feaf4c));
      .search-bar-ipt {
        color: #fff;
      }
    }
  }
}

.search-bar {
  padding: 6px 10px;
  display: flex;
  background-color: #fff;
  &.search-bar-focusing {
    .search-bar-search-btn {
      display: block;
    }
  }
  .search-bar-form {
    flex: 1;
    height: 28px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 14px;
    background: #f3f2f8;
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      background: url('../assets/search/search.png') no-repeat;
      background-size: 100%;
    }
    .search-clear {
      position: absolute;
      top: 0;
      right: 0;
      width: 28px;
      height: 28px;
      font-size: 0;
      background: #feaf4c url('../assets/close.png') 50% no-repeat;
      background-size: 15px;
    }
    .search-bar-ipt {
      position: relative;
      display: block;
      font-size: 14px;
      width: 100%;
      height: 28px;
      color: #333;
      line-height: 18px;
      border: none;
      background: none;
      -webkit-appearance: none;
    }
  }
  .search-bar-search-btn {
    display: none;
    padding: 0 5px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    margin: 0 10px;
    background: #007aff;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-bar-form {
  input::-webkit-input-placeholder {
    color: #fff;
  }
}
