.goods-footer {
  display: flex;
  @include topline();
  .goods-collect {
    flex: 1;
    position: relative;
    padding-top: 30px;
    background-color: #fff;
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      width: 20px;
      height: 20px;
      background: url('../assets/detail/no-collection.png') no-repeat;
      background-size: 20px;
    }
    span {
      display: block;
      text-align: center;
      font-size: 10px;
      color: #666;
      line-height: 20px;
    }
  }
  .goods-collect.collected {
    &::before {
      background: url('../assets/detail/collection.png') no-repeat;
      background-size: 20px;
    }
  }
  .goods-action {
    flex: 1;
    position: relative;
    z-index: 10;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-align: center
  }
  .goods-buy {
    background: #e4393c;
  }
  .goods-cart {
    background: #ff9600;
  }
  .goods-exchange {
    background: #ff9600;
  }
}
