.cell {
  box-sizing: border-box;
  margin-bottom: 10px;
  display: flex;
  position: relative;
  padding: 10px 15px;
  background-color: #fff; // @include topline();
  .cell-hd {
    line-height: 24px;
  }
  .cell-bd {
    flex: 1;
    font-size: 14px;
    color: #333;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
    .ipt {
      padding: 0;
      height: 24px;
      line-height: 24px;
    }
  }
  .cell-ft {
    line-height: 24px;
    position: relative;
    padding-right: 20px;
  }
}

.cell-access {
  .cell-ft {
    @include arrow-right(8px);
  }
  &:active {
    background-color: #ececec;
  }
}

.cell-select {
  .cell-ft {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 15px;
      height: 3px;
      transform: translateY(-50%);
      background-image: url('//wq.360buyimg.com/fd/base/img/detail/sprite_detail_sku_v1.png?20160512');
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: 0 0;
    }
  }
}

.cells {
  .cell::first-child {
    &::before {
      display: none;
    }
  }
}

.cell-form {
  .cell-hd {
    width: 100px;
    text-align: left;
  }
}
